	/* Start of footer */

.border{
	padding-top: 15px;
}
.hrline{
padding-left: 0px;
margin-left: 0px;
height:2px;
border-width:100%;
border-style:solid;
border-color:#464646;
padding-bottom: 5px;
}

.fill{
	background-color:black;
	height: 270px;
}
.fill2{
	background-color:black;
	height: 30px;
}
.footText1{
	padding: 0px;
	font-size: 16px;
	color: #fff;
}
.footText{
	list-style-type:none;
	margin-top: 10px;
	margin-left: 0px;
	
}
.footText ul{
	padding: 0px;
	text-decoration: none;
	padding: 0px;
	font-size: 16px;
}
.footText ul li{
	color: #fff;
	text-decoration: none;
	list-style-type:none;
}
.footText ul li a{
	text-decoration:none;
	color: #fff;
}
.footText ul li a:hover{
	color:#3366ff;
}
.bur{
	margin-left: 0px;
	padding-left: 0px;
	color:#ffff1a;
	font-family: 'Helvetica';
	font-size: 20px;
	font-weight: Bold;
}

.bur span{
	font-family:'Helvetica';
	margin-left: 0px;
}

.rmv-padding{
	padding: 0!Important;	
}
.text{
	color:#fff;
	font-family: 'Helvetica';
	font-size: 13px;
}
.menu-social-icons{
	text-align: center;
}
.menu-social-icons li{
	margin: 0px 5px;
	float:none;
	display:inline-block;
}
/*.main-footer .menu-social-icons li:hover {
  opacity: 0.8;
}*/
.menu-social-icons svg {
  display: none;
}
.menu-social-icons i{
	background-color:#464646;
	width:23px;
	height:23px;
	font-size:14px;
	line-height:23px;
	border-radius: 25px;
}
.menu-social-icons i:hover{
	background-color:#cccc00;
/*end of footer*/