		
	/* Start of footer */
.border{
	padding-top: 15px;
}
.divider hr{
	color: black;
	width: 100%;
	padding-left: 25px;
}

.fill{
	background-color:black;
	height: 330px;
}
.fill2{
	background-color:black;
	height: 30px;
}

.footText{
	margin-top: 10px;
	margin-left: 0px;
	color: black;
}
.footText ul{
	text-decoration: none;
	padding: 0px;
}
.footText ul li{
	font-color: black;
	text-decoration: none;
	list-style-type:none;
}
.bur{
	color:#cccc00;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: Bold;
}

.bur p{
	margin-left: 0px auto;
}
body{
	margin: 0px;
	padding: 0!Important;
}
.rmv-padding{
	padding: 0!Important;	
}
.text{
	color:#cccc00;
	font-family: 'Open Sans';
	font-size: 14px;
}

/*end of footer*/