
	/* start of css for header */
		#rmhsimg{
			
			cursor:pointer;
			height:125px; 
			width:125px;
			float:left;
			margin:0px 25px 0px 0px;
		}
		
		#rmhstitle{
			font-size:28px;
			font-family:helvetica;
			float:left;
			font-weight:bold;
			margin:25px 0px 0px 0px;
		}
		
		#rmhstitle2{
			font-size:28px;
			font-family:helvetica;
			float:left;
			font-weight:bold;
			margin:0px 0px 0px 0px;
		}

		#katawan{
			margin:0;
			padding:0;
		}
		
		#asd2{
			margin:-2px 0px 0px 0px;
		}
		
		
		#asd3{
			color:#ffffff;
			padding:12px 30px 10px;
		}
		
		#asd3:hover{
			color:#ffffff;
			background-color:#3366ff;
		}
		
		#dropbg:hover{
			color:#ffffff;
			background-color:#3366ff;
		}
		
		.toggler1{
			margin:0px 0px 0px 10px;
		}

		.nav{
			margin:0;
			padding:0;
		}
		
		.allbtn{
			background-color:#3366ff;
			border: none;
			color: #ffffff;
			border-radius:4px;
			padding: 5px 10px;
			text-align: center;
			text-decoration: bold;
			display: inline-block;
			font-size: 15px;
			margin: 2px 1px;
			cursor: pointer;
		}
		
		.dropdown-menu{
			margin:-1px 0px 0px 0px;
		}
		
		
		.dropdown:hover>.dropdown-menu {
		display: block;
		}
	
	/* end of css for header */
		
		
	/* start of css for layer1(carousel) */
		.car{
			margin:0;
			padding:0;
		}

		.imgsize{
			min-height: 250px;
		}
	/* end of css for layer1(main_body) */

	
	/* start of layer2(main_body) */
		.what{
			font-family:Helvetica;
			font-size:40px;
			text-align:center;
			color:#000000;
			font-weight:bold;
		}
		
		.current{
			font-family:Helvetica;
			font-size:15px;
			text-align:center;
			color:#000000;
		}
				
		.ctpadding{
			padding: 20px 80px;
		}

		.whycap{
			margin:20px;
		}

		.whycaptxt1{
			font-weight:bold;
			font-size:20px;
			color:#0039e6;
		}		

		.whycaptxt2{
			font-size:15px;
		}
		
		.whycon{
			cursor:pointer;
			height:150px;
			width:150px;
			display:block;
			border-radius:20px;
		}
		
		.iconsize{
			font-size:150px;
			text-align:center;
		}	
		
	/* end of layer2(main_body) */
		
	/* start of layer3(main_body)*/
		.hrline1{
			height:2px;
			border-width:100%;
			border-style:solid;
			border-color:black;
		}
		
		.hrline2{
			height:2px;
			border-width:100%;
			border-style:solid;
		}
		
		.enroll{
			font-family:Helvetica;
			font-size:50px;
			font-weight:bold;
			text-align:center;
		}
		
		.enroll2{
			text-align:center;
			font-size:20px;
		}
		
		.divregbtncontainer{
			margin:auto;
			height:70px;
			width:210px;
		}
		
		.regbtn{
			font-family:Helvetica;
			height:60px;
			width:200px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding:auto;
			margin:0 auto;
			font-size:20px;
		}
		
		.regbtn:hover{
			background-color:#ffff1a;
			color:#000000;
		}
		/* end of layer3(main_body)*/
		
		/* start of register_page*/	
		.regbord{
			border: 1px solid #000000;
		}
		
		.divsubbtncontainer{
			margin:auto;
			height:45px;
			width:155px;
		}
		
		.subbtn{
			font-family:Helvetica;
			background-color:#3366ff;
			color:#ffffff;
			height:40px;
			width:150px;
			font-size:17px;
		}
		
		.subbtn:hover{
			background-color:#ffff1a;
			color:#000000;
		}
		
		.regform{
			font-family:Helvetica;
			font-size:50px;
			font-weight:bold;
		}
		/* end of register_page*/
		
		
		/* start of register_page_print */
		.prtbtn{
			font-family:Helvetica;
			background-color:#3366ff;
			border:none;
			color:#ffffff;
			height:40px;
			width:150px;
			font-size:17px;
		}
		
		.prtbtn:hover{
			background-color:#ffff1a;
			color:#000000;
		}

		.borderlines{
			border:1px solid;
		}
		/* end of register_page_print */

		/* start of subjects*/

		.allfont{
			font-family: helvetica;
		}

		.subjectfont{
			font-weight: bold;
			font-size:50px;
		}

		.addsubbtn{
			font-family:Helvetica;
			height:40px;
			width:150px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding: auto;
			margin:0px 0px 10px 15px;
			font-size:19px;
		}
		
		.addsubbtn:hover{
			background-color:#ffff1a;
			color:#000000;
		}

		.selectmargin{
			margin:0px 0px 0px 5px;
		}

		.formmodalfont{
			font-size:15px;
		}

		.addsubbtn2{
			font-family:Helvetica;
			height:40px;
			width:150px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding: auto;
			font-size:19px;
			float: right;
		}
		
		.addsubbtn2:hover{
			background-color:#ffff1a;
			color:#000000;
		}

		.addsubbtn3{
			font-family:Helvetica;
			float: left;
			height:30px;
			width:70px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding: auto;
			margin:0px 1px 1px 1px;
			font-size:13px;
		}
		
		.addsubbtn3:hover{
			background-color:#ffff1a;
			color:#000000;
		}
	/* end of subjects*/

	/* start of section*/

		.sectionfont{
			font-weight: bold;
			font-size:50px;
		}

		.addsecbtn{
			font-family:Helvetica;
			height:40px;
			width:150px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding: auto;
			margin:0px 0px 10px 15px;
			font-size:19px;
		}
		
		.addsecbtn:hover{
			background-color:#ffff1a;
			color:#000000;
		}


		.addsecbtn2{
			font-family:Helvetica;
			height:40px;
			width:150px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding: auto;
			font-size:19px;
			float: right;
		}
		
		.addsecbtn2:hover{
			background-color:#ffff1a;
			color:#000000;
		}

		.addsecbtn3{
			font-family:Helvetica;
			height:30px;
			width:70px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding: auto;
			margin:0px 1px 1px 1px;
			font-size:13px;
		}
		
		.addsecbtn3:hover{
			background-color:#ffff1a;
			color:#000000;
		}
	/* end of section*/

	/* end of student*/
		.studentfont{
			font-weight: bold;
			font-size:50px;
		}

		.addstubtn{
			font-family:Helvetica;
			height:40px;
			width:150px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding: auto;
			margin:0px 0px 10px 15px;
			font-size:19px;
		}
		
		.addstubtn:hover{
			background-color:#ffff1a;
			color:#000000;
		}


		.addstubtn2{
			font-family:Helvetica;
			height:40px;
			width:150px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding: auto;
			font-size:19px;
			float: right;
		}
		
		.addstubtn2:hover{
			background-color:#ffff1a;
			color:#000000;
		}

		.addstubtn3{
			font-family:Helvetica;
			height:30px;
			width:70px;
			background-color:#3366ff;
			border:none;
			border-style:none;
			color:#ffffff;
			padding: auto;
			margin:0px 1px 1px 1px;
			font-size:13px;
		}
		
		.addstubtn3:hover{
			background-color:#ffff1a;
			color:#000000;
		}

		.potgraph{
			font-weight: bold;
		}
	/* end of student*/

