/*start of login page */

.user1{
	margin-top: 60px;
	margin-bottom: 20px;
	width: 200px;
	font-family: 'helvetica';

}
.pass1{
	margin-bottom: 50px;
	margin-top: 0px;
	width: 200px;
	font-family: 'helvetica'; 

}
.login1{
	cursor: pointer;
	font-family:Helvetica;
	height:40px;
	width:150px;
	background-color:#3366ff;
	border:none;
	border-radius: 10px;
	color:#ffffff;
	margin-bottom: 30px;
	font-size:15px;
}
.login1:hover{
	background-color:#ffff1a;
	color:#000000;

}
.regbordlogin{
	border-radius: 8px;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 500px;
	border: 1px solid;
}
.imglogin{
	margin-top: 20px;
	height: 150px;
}
.frgt{
	margin-top: 100px;
	font-family: 'helvetica';
	font-size: 12px;
	color: black;
	
}
/* end of login page */

/* start of news */

}
.sent1{
	
	margin-top: 100px;
	margin-bottom: 0px;
	text-align: justify;
	font-family: 'helvetica';
	font-size: 15px;
}


.butt1{
	cursor: pointer;
	font-family:'Helvetica';
	font-color: white;
	height:40px;
	width:150px;
	background-color:#3366ff;
	border:none;
	border-radius: 4px;
	color:#ffffff;
	margin-bottom: 30px;
	font-size:20px;
}
.butt1:hover{
	background-color:#ffff1a;
	color:#000000;
}


.sent3{

	margin-top: 20px;
	text-align: justify;
	font-family: 'helvetica';
	font-size: 15px;
}
.header1{
	margin-bottom: 50px;
	margin-top: 40px;
	font-family: 'helvetica';
	font-size: 40px;	
}

.sent4{
	margin-top: 60px;
	text-align: center;
	margin-top: 30px;
	font-family: 'helvetica';
	font-size: 20px;
	margin-bottom: 100px;

}

	


/* end of news */




/* start of history and vision mission */
.header2{
	margin-bottom: 50px;
	margin-top: 40px;
	font-family: 'helvetica';
	font-size: 40px;
}

.his1{
	font-family: 'helvetica';
	font-size: 15px;
	text-align: justify;

}
.hisimg1{
	margin-top: 20px;
	margin-bottom: 40px;
	height: 300px;
	width: 420px;
}

.hisimg2{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 100px;
	height: 200px;
	width: 200px;
}
.hisimg3{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 100px;
	height: 200px;
	width: 200px;
}
.hisimg4{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 100px;
	height: 200px;
	width: 200px;
}
.hisimg5{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 100px;
	height: 200px;
	width: 200px;
}
.hisimg6{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 100px;
	height: 200px;
	width: 200px;
}
.hisimg7{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 100px;
	height: 200px;
	width: 200px;
}
.hisimg8{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 100px;
	height: 200px;
	width: 200px;
}
.hisimg9{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 100px;
	height: 200px;
	width: 200px;
	/* end of history and vision mission */

}

/* start of hymm */
.header3{
	margin-bottom: 50px;
	margin-top: 20px;
	font-family: 'helvetica';
	font-size: 40px;
}
.hymn1{
	color: black;
	margin-bottom: 60px;
	margin-top: 20px;
}
.vid1{
	height: 100%;
	width:  100%;
	max-width: 700px;
	max-height: 700px;
	float: center;
	margin-top: 30px;	

/* end of hymn */

}


/* start of grade school */

.gsgallery{
	margin-bottom: 50px;
}

.gsp{
	margin-bottom: 50px;
}
.gsbord{
	border:solid;
	border-radius: 0px;
	margin-bottom: 50px;
	margin-top: 30px;
}