.user1{
	margin-top: 60px;
	margin-bottom: 20px;
	width: 200px;
	font-family: 'helvetica';

}
.pass1{
	margin-bottom: 50px;
	margin-top: 0px;
	width: 200px;
	font-family: 'helvetica'; 

}
.login1{
	cursor: pointer;
	font-family:Helvetica;
	height:40px;
	width:150px;
	background-color:#3366ff;
	border:none;
	border-radius: 10px;
	color:#ffffff;
	margin-bottom: 30px;
	font-size:15px;
}
.login1:hover{
	background-color:#ffff1a;
	color:#000000;

}
.regbordlogin{
	border-radius: 8px;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 500px;
	border: 1px solid;
}
.imglogin{
	margin-top: 20px;
	height: 150px;
}
.frgt{
	margin-top: 100px;
	font-family: 'helvetica';
	font-size: 12px;
	color: black;
	
}