	/* Start of footer */
.border{
	padding-top: 15px;
}
.hrline{
padding-left: 0px;
margin-left: 0px;
height:2px;
border-width:100%;
border-style:solid;
border-color:#cccc00;
padding-bottom: 5px;
}

.fill{
	background-color:black;
	height: 270px;
}
.fill2{
	background-color:black;
	height: 30px;
}
.footText1{
	font-size: 16px;
	color: #fff;
}
.footText{
	list-style-type:none;
	margin-top: 10px;
	margin-left: 0px;
	
}
.footText ul{
	text-decoration: none;
	padding: 0px;
	font-size: 16px;
}
.footText ul li{
	color: #464646;
	text-decoration: none;
	list-style-type:none;
}
.footText ul li a{
	text-decoration:none;
	color: #464646;
}
.footText ul li a:hover{
	color:#cccc00;
}
.bur{
	margin-left: 0px;
	padding-left: 0px;
	color:#bd2031;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: Bold;
}

.bur span{
	font-family:'Open Sans';
	margin-left: 0px auto;
}
body{
	margin: 0px;
	padding: 0!Important;
}
.rmv-padding{
	padding: 0!Important;	
}
.text{
	color:#464646;
	font-family: 'Open Sans';
	font-size: 13px;
}
.menu-social-icons{
	text-align: center;
}
.menu-social-icons li{
	margin: 0 5px;
	float:none;
	display:inline-block;
}
.menu-social-icons i{
	background-color:#464646;
	width:23px;
	height:23px;
	font-size:14px;
	line-height:23px;
}
.menu-social-icons i:hover{
	background-color:#bd2031;
/*end of footer*/